mixin heading(show,model,holder)
    .form-group.text-edit-group
        h3.text-to-edit(ng-click=show+' = !'+show, ng-hide=show)
            |{{
            =model
            |}}
            span.heading-fixture(ng-if='!'+model)=holder
        .edit-heading.row.text-editor(ng-show=show)
            .col-md-10
                input.form-control(type='text', ng-model=model)
            .col-md-2
                button.save.btn.btn-info(ng-click=show+' = !'+show)=button.save

mixin textarea(show,model,holder)
    .form-group.textarea-edit-group
        .textarea-to-edit(ng-click=show+' = !'+show, ng-hide=show)
            .text-fixture(ng-if='!'+model)=holder
            .text-html(ng-bind-html=model)
        .edit-heading.row.textarea-editor(ng-show=show)
            .col-md-12
                .editor(text-angular='',ng-model=model,ta-disabled='disabled',ta-toolbar=config.editor_toolbar)
            .col-md-12
                button.save.btn.btn-info(ng-click=show+' = !'+show)=button.save

mixin icon(show,model,holder,list)
    .form-group.icon-edit-group
        i.fa.blue-text.icon-to-edit(class=cv.rating.icon + ' ng-class:'+model, ng-click=show+' = !'+show, ng-hide=show)
        .edit-heading.row.text-editor(ng-show=show)
            select.form-control(type='text',ng-change='update()', ng-model=model,ng-init=model+'="'+cv.rating.icon+'"')
                each icon,index in list
                    option(value=index, ng-selected=model+' == "'+ index + '"', class=index)=icon
            button.save.btn.btn-info(ng-click=show+' = !'+show)=button.save